.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

h3 {
  margin: 0 0 10px;
}

p {
  margin: 5px 0;
 }

.icon {
  font-size: 30px;
  margin-right: 20px;
}

/* Flexbox container for the cards */
#app {
  display: flex;
  flex-wrap: wrap;
}

/* Sort select box styling */
.sort-options {
    margin-bottom: 20px;
}